/* Form Container */
.form-container h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

.preview-container {
  text-align: center;
}

.preview-container img {
  max-width: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
